html{
    background-color: black;
}
html h1, h3, section, p, footer{
    color: aliceblue;
}
html img{
    display:block;
    margin:auto;
}
html iframe{
    display:block;
    margin:auto;
}
.navStyle{
    background-color: yellowgreen;
    overflow: hidden;   
}
.navStyle a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navStyle a:hover{
    background-color: azure;
    color: gray;
}
.contenedor{
    float: left;
    width: 40px;       
    margin: 0 auto;
}
